body{
    margin: 0px;
    overflow: hidden;
    height: 100%;
}
body,input,select{
    font-family: 'Cabin Condensed', sans-serif;
    font-size:18px;            
}
table{
    text-align:right;
}
input {
    width: 32px;
}
#cardcraft > span {
    display: inline-block;
    vertical-align: top;
}
.traits > div{
    cursor: pointer;
}
.traits > div:hover{
    background-color: #eee;
}
.traits > div.selected{
    background-color: #aaa;
}
.cardtemplate{
    display: none;
}
.card{
    width: 150px;
    height: 200px;
    border: 5px solid #ddd;
    border-radius: 10px;
    cursor: pointer; 
    display: inline-block;
    overflow: hidden;
    background-color: #eee;
}
.card:hover{
    transform: scale(1.2)!important;
    z-index: 1;
}
.card .header{
    background-color: #eee;
    border-bottom: 2px solid #ddd;
}
.card .img{
    height: 50%;
    border-bottom: 2px solid #ddd;
    text-align: center;
    background-color: #fff;
}
.card .desc{
    text-align: center;    
}
.card .pow{
    padding: 0px 10px;
    text-align: center;
    border:2px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
    margin:0 auto;
    position: absolute;
    right: 55px;
    bottom: 0px;
    background-color: #fff;
}
.player{
    height: 220px;
    border: 1px solid #ddd;
    text-align: center;
}
.deck{
    width: 150px;
    height: 200px;
    border: 50px solid #eee;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.hand{
    width: auto;
    height: 210px;
    border: 1px solid #ddd;    
    box-sizing: border-box;
    display: inline-block;
    margin: 2.5px;
    vertical-align: middle;
    position: relative;
}
.discard{
    width: 150px;
    height: 200px;
    border: 5px solid #ddd;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

.hide{
    display: none;
}
.cols{
    display: table;
    width: 100%;   
}
.cols > *{
    display: table-cell;
}
.tleft{
    text-align: left;
}
.tright{
    text-align: right;
}
.tcenter{
    text-align: center;
}