<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<link rel="stylesheet" type="text/css" href="/appdata/css/styles.css">
		<script src='/appdata/js/d0.js'></script>
	</head>
	<body>
		<table id='main'>
			<tbody>
				<tr>
					<td id='header'>
						<div class='wrap cols'>
							<div class='logo'>								
								<img src="/appdata/img/logo.png" alt="logo" width='32' height='32'>
								<div class='text'>FLYWAY</div>
							</div>
							<div class='controls'>
								<div class='settings'></div>
							</div>
						</div>						
					</td>
				</tr>
				<tr>
					<td id='content'>
						<div class='wrap'></div>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
	<script src='/appdata/js/test.js'></script>
</html>