body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	background: #ddd;
}
canvas {
	background: #fff;
	border-radius: 10px;
	border: 2px solid #ffad32;	
}
.spbuts {
	list-style: none;
	display: table;
	padding: 5px;
	margin: 0px auto;

}
.spbuts li {
	display: table-cell;
}
.spbut{
	width: 64px;
	height: 64px;	
	border: 2px solid #ffad32;
	border-radius: 10px;
	margin: 5px;
background: #ffad32; /* Old browsers */
background: -moz-linear-gradient(top,  #ffad32 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffad32), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffad32 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffad32 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffad32 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffad32 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad32', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}